body {
    background-color: #EFFCEB;
}

table {
    border-collapse: collapse;
    margin-top: 1em;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 4px;
}

div.panel {
    margin-top: 1em;
}


#container {
    width: 1016px;
    margin: 0 auto;
}

.question {
    font-size: 200%;
    text-align: center;
}

.mistakes {
    color: red;
    font-weight: bold;
}

.correct {
    color: blue;
    font-weight: bold;
}

#map {
    background-color: #DDD;
    margin-top: 1em;
    margin-: 1em;
}

#cur_pos {
    margin-left: 1em;
}

span.usuku {
    color: #888;
}

table.states-table {
    width: 1000px;
    background-color: #FFF;
    border: 2px solid black;
}

td.td-state {
    width: 160px;
}

td.td-result {
    width: 40px;
    border-right: 2px solid black;
}


.bso-text {
    fill: #FFF;
    font-size: 16px;
    font-weight: bold;
}


.bso-off {
    fill: #888;
    stroke: #000;
    stroke-width: .5px;
}


.bso-on-0 {
    fill: #28CC8F;
    stroke: #000;
    stroke-width: .5px;
}


.bso-on-1 {
    fill: #E9D912;
    stroke: #000;
    stroke-width: .5px;
}


.bso-on-2 {
    fill: #E43E24;
    stroke: #000;
    stroke-width: .5px;
}


div.tooltip {
    position: absolute;
    padding: 3px;
    font: 12px sans-serif;
    background: #FFF;
    border: 0px;
    border-radius: 6px;
    pointer-events: none;
}
